/*Body*/

.productos-body{
    background-color: #fbe5e2;
    background-image: url("../media/forma-fondo-productos.png");
    background-repeat: no-repeat; 
}

/* Hero content*/

.hero-img-productos{
    img{
        max-width: 250px;
        padding: auto;

    }
} 

/*Sections*/

.fondo-blanco{
    background-color: #fff;
    padding: 10%;
}

.seccion-productos{
    margin-top: 100px;
}

.texto-productos{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    h2{
        font-family: 'Playfair Display';
        font-weight: bold;
        font-size: 2rem;
        padding: 40px 0;
        text-align: left;  
    }
    p{
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;
    }
}

/* Footer productos*/

.footer-productos{
    margin-top: 0 !important;
}

/* Media queries */

@media (max-width: 768px) {
    /*Tamaño mediano*/
    .hero-img-productos img {
        width: 150px;
        padding: auto;
    }
}
@media (max-width: 420px) {
    /*Tamaño chico*/
    .hero-img-productos img {
        width: 70px;
        padding: auto;
    }
}  