/*Body*/

.index-body{
    background-color: #fbe5e2;
    background-image: url("../media/forma-fondo-index.png");
    background-repeat: no-repeat; 
}

.home{
    display: flex;
    justify-content: space-around;
    img{
        width: 350px;
        padding-top: 50px;
    }
} 

/*Media queries*/

@media (max-width: 768px) {
    /*Tamaño mediano*/
    .home img {
        width: 400px;
        padding: auto;
    }
}
@media (max-width: 420px) {
    /*Tamaño chico*/
    .home img {
        width: 300px;
        padding: auto;
    }
}   